@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HELLO</h1>
    <p class="lead">Welcome To My Web Application Im Prashant</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
      
    </div>
</div>